#grid-layout{
    display:grid;
    grid-template-areas: 'cabecera cabecera'
                        'imagen descripcion'
                        'comentarios comentarios';
    grid-template-columns: 20% auto;
    grid-template-rows: 10% auto auto;
    height: 500px;
}
img {
  max-width: 100%;
}

#cabecera{
  grid-area: cabecera;
}

#imagen-producto {
  grid-area: imagen;
  margin: 10px;
}

#descripcion {
  grid-area: descripcion;
}

#comentarios {
  grid-area: comentarios;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* ajusta la altura según el tamaño de tu footer */
  background-color: #f5f5f5;
}