/* .card-img-top{

} */
#listado-productos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* height: 500px;
    margin: 100px; */
}

img {
    max-height: 100%;

}

.preview-producto {
    margin: 20px;
    height: 450px;
    border: solid 1px black;
}
/* .card{
    max-height: 100%;
} */
