/* .card-img-top{

} */
#listado-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.preview-producto img {
    max-width: 100%;
    height: auto;
  }

.preview-producto {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
/* .card{
    max-height: 100%;
} */
